/* CSS DOC */
body {
    margin: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {

    background: #ffffff;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

footer {
    padding-top: 1px;
    text-align: center;
    background: #ffffff;
}

footer::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    text-align: center;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 5px;
    padding-top: 5px;
    
    position: relative;
}

nav a {
    color: #c66dfa;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
nav a:hover {
    color: #000000;
}

#home {
    color: #ffffff;
    padding-left: 20px;
}
#about {
    color: #ffffff;
    text-align: center;
    padding-left: 20px;
}
#about h2{
    text-align: left;
}
#about p{
    padding-left: 100px;
    padding-right: 100px;
}
#about table {
    margin-left: auto;
  margin-right: auto;
}
#skills {
    color: #ffffff;
    padding-left: 20px;
}
#contact {
    color: #ffffff;
    padding-left: 20px;
    padding-bottom: 20px;
}
